<div class="w-full min-h-screen bg-gray-50 mb-24 sm:mb-0">
    <div class="w-full p-6">
        <i class="pi pi-arrow-left text-2xl hover:cursor-pointer" (click)="navigate()"></i>
    </div>
    <div class="px-6 sm:px-12 w-full max-w-[1440px] mx-auto">
        <h1 class="text-[var(--pink)] text-3xl sm:text-4xl mt-6 text-center">Our Products</h1>
        <p class="text-base sm:text-lg text-gray-700 mb-12 mt-4 w-full sm:w-3/4 mx-auto text-center">
            Discover our delightful range of themed party packs, carefully curated to bring joy, color, and convenience
            to your special celebrations. Whether it's a birthday, baby shower, or just for fun — we've got something
            magical for every occasion!
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-12 w-full text-center pb-32">
            @for (category of categories; track category) {
            <div class="rounded-md shadow-lg flex flex-col p-6 bg-white h-full">
                <i class="pi pi-gift text-4xl text-[var(--blue)] mt-2 mb-4"></i>
                <h2 class="text-[var(--pink)] text-xl font-semibold mb-2">{{ category.title }}</h2>
                <p class="text-sm sm:text-base">{{ category.description }}</p>
                <div class="mt-auto flex justify-center items-center">
                    <button [routerLink]="['/gallery', category.title]"
                        class="hover:cursor-pointer mt-4 bg-[var(--blue)] text-white text-base w-fit px-6 py-2 flex items-center h-[44px] rounded-md">
                        View Images
                    </button>
                </div>
            </div>
            }
        </div>
    </div>
</div>