<div class="flex flex-row w-full h-fit shadow-md p-2 pl-4 pr-4">
  <div class="grid grid-cols-2 w-full">
    <div class="col-span-1 hover:cursor-pointer" routerLink="home">
      <img src="assets/images/party-hats.svg" alt="party-hats.svg" class="h-12 animate-bounce">
    </div>
    <div class="col-span-1 flex flex-row-reverse gap-6 text-3xl items-center">
      <i class="pi 
      pi-facebook text-[var(--facebook-color)] hover:cursor-pointer"></i>
      <i class="pi 
      pi-whatsapp text-[var(--whatsapp-color)] hover:cursor-pointer"></i>
      <i class="pi 
      pi-tiktok text-[var(--black)] hover:cursor-pointer"></i>
    </div>
  </div>
</div>
<router-outlet></router-outlet>