<div class="sticky top-0 z-50 bg-white shadow-md p-2 px-4 w-full">
  <div class="grid grid-cols-2 sm:grid-cols-2 items-center">
    <div class="hover:cursor-pointer" routerLink="home">
      <img src="assets/images/party-hats.svg" alt="party-hats.svg" class="h-12 sm:animate-none md:animate-bounce">
    </div>
    <div class="flex justify-end gap-4 sm:gap-6 items-center  mt-2 sm:mt-0">
      <a href="https://www.facebook.com/gwkpartypacks" target="_blank">
        <i class="pi pi-facebook text-[var(--facebook-color)] hover:cursor-pointer text-2xl!  sm:text-3xl"></i>
      </a>
      <a href="https://wa.me/27772609557" target="_blank">
        <i class="pi pi-whatsapp text-[var(--whatsapp-color)] hover:cursor-pointer text-2xl!  sm:text-3xl"></i>
      </a>
      <a href="https://www.tiktok.com/@gwk.party.packs?_t=ZM-8vO1IkWEamt&_r=1" target="_blank">
        <i class="pi pi-tiktok text-[var(--black)] hover:cursor-pointer text-2xl!  sm:text-3xl"></i>
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>