<div class="flex w-full flex-col justify-center items-center h-screen p-6 mb-12">
    <img src="assets/images/home-decor.svg" alt="party-hats.svg" class="">
    <h1 class="text-[var(--pink)] text-6xl">Bring Your Party to Life!</h1>
    <h2 class="mt-4 text-xl">Custom-themed party packs for kids' birthdays & special events.</h2>
    <div class="grid grid-cols-2 gap-8 mt-8 ">
        <div class="col-span-1">
            <button routerLink="/products"
                class="hover:cursor-pointer bg-[var(--blue)] text-white text-base w-[146px] h-[40px] rounded-md">Products</button>
        </div>
        <div class="col-span-1">
            <button routerLink="/contact"
                class="hover:cursor-pointer bg-[var(--blue)] text-white text-base w-[146px] h-[40px] rounded-md">Contact
                Us</button>
        </div>
    </div>
</div>